<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <img src="{% static 'catalog/images/bambenek_hospital_glass.jpg' %}" alt="My image" style="width:576px;height:416px;"/>
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'patients' %}">All patients</a></li>
          <li><a href="{% url 'doctors' %}">All doctors</a></li>
   {% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
   {% endif %} 
      </ul>
	  
      {% if user.is_staff %}
      <hr />
      <ul class="sidebar-nav">
      <li>Staff</li>
      {% if perms.catalog.can_assign_patient %}
      <li><a href="{% url 'all-assignedpatients' %}">All Assigned Patients to Doctors</a></li>
      {% endif %}
            {% if perms.catalog.can_treat_patient %}
                <li><a href="{% url 'my-patients' %}">My Patients</a></li>
            {% endif %}
            {% if perms.catalog.I_am_boss %}
                <hr />
                <li><strong><font color="red">BOSS</font></strong></li>
                <li><a href="{% url 'doctor_create' %}"><font color="red">Hire Doctor</font></a></li>
            {% endif %}
            {% if perms.catalog.I_am_boss %}
                <li><a href="{% url 'doctor_update' 8 %}"><font color="red">Update Doctor</font></a></li>
            {% endif %}
            {% if perms.catalog.I_am_boss %}
                <li><a href="{% url 'doctor_delete' 8 %}"><font color="red">Fire Doctor</font></a></li>
            {% endif %}
      </ul>
      {% endif %}
	  
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      {% block pagination %}
         {% if is_paginated %}
             <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %} 
      </div>
    </div>

  </div>
</body>
</html>